
/* reset e config global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: auto;
    background-color: #5e5b5bad;
    color: #131212;
    background-image: url(imagens/waterfront.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.fundo1  {
    background-image: url(imagens/netherrealmcliff.gif);
}

/* cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header p {
    color: #fff;
}

header .logo, header .imagem-botao {
    width: 30px;
}

header #botao-musica, header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover, header .imagem-botao:hover, main .cartao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* parte principal */

main {
    padding: 25px;
}

main .listagem {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao:hover {
    background-color: #96d9d6;
}


main .cartao .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao .informacoes span {
    padding: 5px;
}

main .cartao .gif{
    width: 90px;
    height: 90px;
}

main .cartao .tipos {
    display: flex;
    gap: 15px;
}

main .cartao .tipo {
    padding: 8px;
    border-radius: 10px;
}

.earthrealm {
    background-color: #7ac74c;
}

.outworld {
    background-color: #df67ddfb;
}

.netherrealm {
    background-color: #ee8130;
}

.edenia {
    background-color: #6390f0;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}


/* scrollbar */

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #f1e9e9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2e2965;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media screen and (max-width: 707px)  {
    header p {
        font-size: 0.8em;
    }
  }

  @media screen and (max-width: 568px)  {
    header p {
        font-size: 0.7em;
    }
  }